@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Libre+Baskerville:400,500,700|Montserrat:400,700,900&display=swap');

/*------ All colours ------*/

$dark-purple: #234148;
$peach: #C3D7D4;
$charcoal: #234148;
$grey: #BCBEC2;

$light-peach: #F6E7E2;
$light-green: #C3D7D4;
$medium-green: #44968D;
$dark-green: #234148;


$white: #fefefe;
$black: #234148;

/*------ Theme colours ------*/

$primary-color: $dark-green;
$secondary-color: $light-green;
$tertiary-color: $light-peach;
$highlight-color: $medium-green;
$background-color: $white;


/*------ Theme fonts ------*/

$body-font: 'Libre Baskerville', serif;
$header-font: 'Montserrat', sans-serif;
$title-font: 'Cedarville Cursive', cursive;



